<footer class="footer" [class.white]="!basic && public">
  <div class="container">
    <div class="sections-distributed">
      <div class="squint-footer" *ngIf="!basic && private">
        <div class="social-footer-responsive">
          <h1>Follow us on social networks!</h1>
          <div class="social-container">
            <a href="#">
              <div class="social">
                <i class="icon-facebook-circle"></i>
              </div>
            </a>
            <a href="#">
              <div class="social">
                <i class="icon-twitter-circle"></i>
              </div>
            </a>
            <a href="#">
              <div class="social">
                <i class="icon-linkedin-circle"></i>
              </div>
            </a>
            <a href="#">
              <div class="social">
                <i class="icon-google-circle"></i>
              </div>
            </a>
            <a href="#">
              <div class="social">
                <i class="icon-youtube-circle"></i>
              </div>
            </a>
          </div>
        </div>
        <div class="links-side">
          <div class="links-container">
            <h1>Platform</h1>
            <a href="#">Measure & Benchmark</a><br>
            <a href="#">Optimize Pergormance</a><br>
            <a href="#">Visualize & Analize</a><br>
            <a href="#">Create & Publish Content</a><br>
            <a href="#">Nurture Communities</a><br>
            <a href="#">For Agencies</a><br>
          </div>
          <div class="links-container">
            <h1>Social Media Tools</h1>
            <a href="#">Facebook Benchmarking Tool</a><br>
            <a href="#">Facebook Post Analysis Tool</a><br>
            <a href="#">Instagram Analytics Tool</a><br>
            <a href="#">Social Content Inspiration Tool</a><br>
            <a href="#">Social Customer Care Tool</a><br>
          </div>
          <div class="links-container">
            <h1>News & Insights</h1>
            <a href="#">Studies</a><br>
            <a href="#">Success Stories</a><br>
            <a href="#">Social Media Minute</a><br>
            <a href="#">Socialbankers Blog</a><br>
            <a href="#">Press Releases</a><br>
          </div>
          <div class="links-container">
            <h1>Statistics</h1>
            <a href="#">Facebook Stats</a><br>
            <a href="#">Twitter Stats</a><br>
            <a href="#">YouTube Stats</a><br>
            <a href="#">Regional Social Media Reports</a><br>
          </div>
        </div>
        <div class="social-footer">
          <h1>Follow us on social networks!</h1>
          <div class="social-container">
            <a href="#">
              <div class="social">
                <i class="icon-facebook"></i>
              </div>
            </a>
            <a href="#">
              <div class="social">
                <i class="icon-twitter"></i>
              </div>
            </a>
            <a href="#">
              <div class="social">
                <i class="icon-linkedin"></i>
              </div>
            </a>
            <a href="#">
              <div class="social">
                <i class="icon-google-plus"></i>
              </div>
            </a>
            <a href="#">
              <div class="social">
                <i class="icon-youtube"></i>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="squint-footer white" *ngIf="!basic && public">
        <div class="row w-100">
          <div class="col-12">
            <div class="footer-social-networks white">
              <p>
                Follow us on Social Networks
              </p>
              <div class="social-networks">
                <div class="social-item">
                  <a href="#">
                    <i class="icon-facebook"></i>
                  </a>
                </div>
                <div class="social-item">
                  <a href="#">
                    <i class="icon-twitter"></i>
                  </a>
                </div>
                <div class="social-item">
                  <a href="#">
                    <i class="icon-linkedin"></i>
                  </a>
                </div>
                <div class="social-item">
                  <a href="#">
                    <i class="icon-google-plus"></i>
                  </a>
                </div>
                <div class="social-item">
                  <a href="#">
                    <i class="icon-youtube"></i>
                  </a>
                </div>
              </div>
              <div class="footer-links white">
                <!-- <p>Squint © 2018 All Rights Reserved</p> -->
                <div class="links-container">
                  <a href="#">About Squint</a>
                  <span>·</span>
                  <a href="#">Contact</a>
                  <span>·</span>
                  <a href="#">Plans and Prices</a>
                  <span>·</span>
                  <a href="#">Blog</a>
                </div>
                <div class="links-container">
                  <a href="#">Terms and Conditions</a>
                  <span>·</span>
                  <a href="#">Privacy Policies</a>
                  <span>·</span>
                  <a href="#">Security </a>
                </div>
                <p class="copyright">Squint © 2020 All Rights Reserved</p>
              </div>

            </div>
          </div>

        </div>
      </div>
      <div class="squint-footer basic" *ngIf="basic">
        <div>Terms and conditions</div>
        <div>Security</div>
        <div>Legal</div>
        <div>Cookies</div>
        <div class="last">Privacy policies</div>
      </div>
    </div>

  </div>
</footer>